
mixin task3(options = {})
  .hero
    .container
      h1.hero__title!= options.title
      p.hero__desciption!= options.description
      ul.hero__list
        each item in options.heroList
          li.hero__item
            .hero__label-wrapper
              span.hero__number= item.number
              h2.hero__label= item.label
            .hero__info-wrapper
              p.hero__info= item.info


